.chat{
  background-color: white;
  height: calc(80vh - 10px);
  margin: 10vh auto;
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-rows: 55px auto 55px;
  border: 5px solid white;
}
