.footer{
  display: grid;
  grid-template-columns: auto 5%;
  grid-gap: 1em;
  padding: 0.4em;

  .textInput{

    border: 0;
    border-radius: 16px;
    font-size: 0.9em;
    background-color: #F1F1F1;
    width: 100%;
    padding: .5em 1em;
    box-sizing: border-box;

  }

  .sendButton{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #0769A0;
    border:none;
    position: relative;

    .iconSend{
      color: white;
      position: absolute;
      top: 6px;
      left: 10px;
      transform: rotate(-45deg);
      fill: white;
    }

  }


}
