.header{
  background-color: #a09807;
  width: 100%;
  color: white;
  display: inline-block;
  text-align: left;
  padding: 0.5em;
  box-sizing: border-box;

  &.logged{
    background-color: #0769A0;
  }

  .panel-left {
    float: left;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.5em;

    .portrait{
      height: 40px;
      width: 40px;
      border-radius: 20px;
      background-color: gray;
      position: relative;

      img{
        position: absolute;
        top: 8px;
        left: 8px;
      }

    }

    .extra-info{

      .status{
        font-size: 0.9em;
      }

      .name{
        font-weight: bold;
        font-size: 1.1em;
      }

    }

  }

}
