.messages{
  background-color: white;
  padding: 0 2em;
  background-image: url("../static/images/background.png");
  background-size: 35px;
  box-shadow: inset 1px 1px 20px 0 #00000026;
  overflow-x: hidden;
  overflow-y: scroll;
}
