
.message-line{
  display: inline-block;
  width: 100%;

  .message{
    font-size: 1em;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
    padding: .5em;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    max-width: 70%;
    min-width: 45%;
    margin: 0.5em 0 0.5em 0;
    display: inline-block;

    &.-in{
      background: #F9FDFF;
      float:left;
    }

    &.-out{
      background: #F2FFE2;
      float: right;
    }


    .metaData{
      color: #636b6f;
      float: right;
      font-size: 0.75em;
      margin-top: 1em;
    }

  }


}
